:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

.feedback-error{
  color: red;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.comment{
  margin: 20px;
  border:solid;
  padding: 10px;
}

p {
  margin: 10px;
}

.dialog-panel {
  margin: 50px;
  width: auto;
  background-color: gray;
  border: 20px;
  border-radius: 20px;
  position: fixed;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0);
}

.dialog {
  background-color: red;
}

.following-list {
  border: 2px solid white;
  margin: 10px;
  padding: 5px;
  display: "flex";
  align-items: "center";
  flex-direction: column;
  border-radius: 10px;
}

.element-of-modal {
  border: 1px solid grey;
  padding: 10px;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  justify-content: space-between;
}

aside {
  float: left;
  position: fixed; 
  width: 200px; 
  background-color: #919090; 
  padding: 15px;
  box-sizing: border-box; 
  top: 20;
  left: 0; 
  height: 100vh;
  overflow-y: auto; 
}

.sidebar-titles{
  margin: 15px;
  font-size: 22px;
  font-weight: bold;
  padding: 10px;
}

.sidebar-items{
  margin: 10px;
}

.header-links  {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-links * {
  margin: 5px;
  font-size: 20px;
}

.header-left {
  margin-right: auto;
  font-size: 45px;
  align-items: center;
  white-space: nowrap;
}

.nav {
  display: flex;
  background: #474747;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 100;
  
}

.user {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.user * {
  margin: 2px;
}

.status {
  width: 25px; 
  height: 25px; 
  border-radius: 50%; 
  border: solid;
  flex-shrink: 0;
}

.tooltip {
  display: inline-block;
  border-bottom: 2px dotted black;
  z-index: 100;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: fixed;
  z-index: 100;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.chat {
  width: 250px;
  height: 30px;
  background-color: red;
  border-radius: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#chatBox{
  margin-left: 10px;
  position: fixed;
  left: 200px;
  bottom: 0;
  display: flex;
  align-items: flex-end;
}

.close-button {
  background: none;
  cursor: pointer;
  color: #000000;
  font-size: 20px;
  border: solid;
  border-radius: 50%;
  margin-right: 10px;
}

.close-button:hover {
  color: #000; /* Change color on hover */
}

.button-row{
  display: flex;
}

.button-27 {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button-27:disabled {
  pointer-events: none;
}

.button-27:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}

.under-profile {
  margin : 10px;
  padding: 10px;
}

.name-line{
  display: flex;
  justify-content: space-between;
}

.follow-button{
  width: 150px;
}

.post {
  border: 2px solid #FFFFFF;
  border-radius: 20px;
  padding: 15px;
  margin: 10px;
  display: "flex";
  flex-direction: "column";
}

.info {
  border-radius: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  margin: 20px;
  border-radius: 20px;
  padding: 20px;
  gap: 5px;
}

.form-about{
  width: 100%;
}

.text-area {
  height: 75px;
  padding: 4px;
  border-radius: 10px;
}

.login {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.login *{
  margin: 5px;
}

.followers-actions{
  display: flex;
  gap: 10px;
}

.register {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.register *{
  margin: 5px;
}

.dropDownMenu{
  position: absolute;
  top: 3rem;
  right: 5.4rem;
  width: 300px;
  padding: 15px;
  border-radius: 15px;
  background-color: gray;
  border: 1px solid white;
}

.dropDownMenu::before{
  content: '';
  position: absolute;
  top: -0.7rem;
  right: 1.1rem;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background-color: white;
  border-left: 1px solid gray;
  border-top: 1px solid gray;
}

.unread{
  background-color: rgb(218, 213, 213);
  color: black;
}

.icon-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  color: #000000;
}

.icon-button__badge {
  visibility: hidden;
  position: absolute;
  top: 4px;
  right: 5px;
  width: 12px;
  height: 12px;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.visible {
  visibility: visible !important;
}

.people-photo{
  width: 50px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
}

.photo{
  background-color: #F8F8FF;
}

.all-people{
  margin-top: 50px;
  margin-left: 50px;
}

.people{
  margin-top: 15px;
  display: flex;
}

.people-username{
  margin-left: 15px;
}

.people-name{
  margin-left: 15px;
}
.about-me{
  border: 2px solid #ccc;
}

.profile-avatar{
  max-width: 400px;
  max-height: 400px;
}

.button-container{
  display: flex;
}