* {
    margin: 0;
    padding: 0;
    text-align:center;
    color: #ffffff ;
    margin-left: 10px;
  }
  
  body {
    background-color: #171D20;
  }
  
  table {
    color: #333;
    font-size: .9em;
    font-weight: 300;
    line-height: 40px;
    border-collapse: separate;
    border-spacing: 0;
    border: 2px solid #ffffff ;
    margin: 50px auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.16);
    border-radius: 2px;
  }
  
  th {
    background: #001A38 ;
    color: #fff;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
  }
  td {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  tr:hover:not(th) {background-color: rgba(163, 198, 196, 0.2); ;}
  
  input[type="button"] {
    transition: all .3s;
    border: 1px solid #ddd;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 15px;
  }
  
  input[type="button"]:not(.active) {
    background-color:transparent;
  }
  
  .active {
    background-color: #A3C6C4;
  }
  
  input[type="button"]:hover:not(.active) {
    background-color: #ddd;
  }

  img{
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 5px;
  }

  .page{
    margin-top: 5px;
    margin-bottom: 30px;
  }

  .search{
    color: black;
    margin-top: 20px;
    border-radius: 20px;
  }

  select{
    color : #000000;
    border-radius: 20px;
  }

  select option {
    color: black
  }

.button-3 {
  appearance: none;
  background-color: #354649;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #A3C6C4;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #354649;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.popup-content {
  display: flex;
  max-height: 90%;
  overflow-y: auto;
  background-color: #003367;
  border-radius: 8px;
  padding: 20px;
}

.popup-content img.hero-image {
  width: 400px;
  height: auto;
  margin-right: 20px;
}
